# environment
env/
__pycache__/
*.pyc
.vscode
.DS_Store

# secret
config.json

# generated
trained_model*
transformers/
aitextgen/
convos/*
used_convos/*
parsed_discord.txt
usercache.json
nvidia-smi.exe